## Pandas Multi Indexes

In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv("./data/bigmac.csv",parse_dates=["Date"])
bigmac.head(5)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [3]:
# set idnex
bigmac.set_index(keys = ["Date","Country"], inplace=True)

In [4]:
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [5]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [6]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [7]:
# sort by index
bigmac.sort_index(inplace=True)
bigmac.head(10)

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71

In [8]:
bigmac.index.get_level_values(0)
# equal to
bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [9]:
bigmac.index.get_level_values(1)
# equal to
bigmac.index.get_level_values("Country")

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [12]:
bigmac = pd.read_csv("./data/bigmac.csv", parse_dates=["Date"], index_col=["Date","Country"]) 
bigmac.sort_index(inplace=True)
# Set Indexes name
bigmac.index.set_names(["Day", "Location"], inplace=True)

In [13]:
bigmac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97